.container-flight{
    width: 80%;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: .625rem;
    background-color: #292929;    
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.sub-container{
    display: 1;
}

#infos{
    width: 80%;
    display: flex;
}
#buy{
    width: 20%;
    text-align: center;
    border: 2px solid;
    border-image-source: linear-gradient(to right, #b09ce4 0% 1em,
                                                   #bca4f1 15% 1.15em,
                                                   #cab3f4 30% 1.3em,
                                                   #cdb1c3 45% 1.45em,
                                                   #f2cec4 60% 1.6em,
                                                   #9fc2b0 75% 1.75em,
                                                   #b2f3f3 1.9em 100% );
    border-image-slice: 1;
}

#departure{
    width: 50%;
    display: 1;
    margin: 5px;
    border: 2px solid;
    border-image-source: linear-gradient(to right, #b09ce4 0% 1em,
                                                   #bca4f1 15% 1.15em,
                                                   #cab3f4 30% 1.3em,
                                                   #cdb1c3 45% 1.45em,
                                                   #f2cec4 60% 1.6em,
                                                   #9fc2b0 75% 1.75em,
                                                   #b2f3f3 1.9em 100% );
    border-image-slice: 1;
}
#destination{
    width: 50%;
    display: 1;
    margin: 5px;
    border: 2px solid;
    border-image-source: linear-gradient(to right, #b09ce4 0% 1em,
                                                   #bca4f1 15% 1.15em,
                                                   #cab3f4 30% 1.3em,
                                                   #cdb1c3 45% 1.45em,
                                                   #f2cec4 60% 1.6em,
                                                   #9fc2b0 75% 1.75em,
                                                   #b2f3f3 1.9em 100% );
    border-image-slice: 1;
}

.span-text{
    padding-left: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #FFF1F1;        
    margin-bottom: 15px;
}

.button-buy{
    padding: 12px 25px;
    border-radius: 0px;
    background-color: #1a1b1f;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition-property: background-color, opacity, color;
    transition-duration: 400ms, 400ms, 400ms;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
}