.navbar {
    background-color: #292929;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  
  .nav-logo {
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;    
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #f2cec4;
  }
  
  .nav-item .active {
    color: #f2cec4;
    border: 1px solid #cdb1c3;
  }
    
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #292929;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #f2cec4;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  }

  .plane{
    background-color: inherit;
    color: #cab3f4;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
  }

  .hub{
    background-color: #7990e4;
    color: #cdb1c3;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
  }
.connectButton {
  color: white;
  border: unset;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}

.address{
  background: linear-gradient(to right,    #b09ce4 0% 1em,
  #bca4f1 15% 1.15em,
  #cab3f4 30% 1.3em,
  #cdb1c3 45% 1.45em,
  #f2cec4 60% 1.6em,
  #9fc2b0 75% 1.75em,
  #b2f3f3 1.9em 100% );
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}