.bg{
    background-color: rgb(34, 34, 34);
}


.intro-header{
    background-size: cover;
    display: flex;    
    height: 800px;
    margin-bottom: 100px;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-image: url(../../misc/etherColoredBackground1920.png);
 
}
@media screen and (max-width:1440px){
    .intro-header{
        height: 600px;
        background-image: url(../../misc/etherColoredBackground.png);
    }
}

.container{
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.motto-wrap{
    width: 80%;
    margin-right: auto;
    margin-bottom: 85px;
    margin-left: auto;
    text-align: center;
}

.heading-small{
    background: linear-gradient(to right,    #b09ce4 0% 1em,
                                             #bca4f1 15% 1.15em,
                                             #cab3f4 30% 1.3em,
                                             #cdb1c3 45% 1.45em,
                                             #f2cec4 60% 1.6em,
                                             #9fc2b0 75% 1.75em,
                                             #b2f3f3 1.9em 100% );
                                             
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    text-transform: none;
    
}

.divider{
    height: 1px;
    background-color: #eee;
}

.intro-content{
    width: 70%;
    max-width: 1140px;
    text-align: center;
}

.intro-content.cc-homepage{
    margin-bottom: 20px;        
}

.intro-text{
    width: 80%;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
}

.heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 110px;
    line-height: 80px;
    text-transform: none;
}

.paragraphe-bigger{
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

.paragraphe-bigger.cc-bigger-white-light{
    opacity: 0.8;
}


.home-content-wrap{
    margin-top: 80px;
    margin-bottom: 120px;
}

.w-layout-grid{
    display: grid;
    grid-auto-columns: 1fr;
}

.about-grid{
    margin-bottom: 80px;
    -webkit-box-align: center;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-areas: ". .";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.about-grid.cc-about-2{
    grid-template-areas: ". .";
    grid-auto-columns: 2fr 1fr;
}

.logo-container{
    height: 500px;
    width: 500px;
}

.button{
    padding: 12px 25px;
    border-radius: 0px;
    background-color: #1a1b1f;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition-property: background-color, opacity, color;
    transition-duration: 400ms, 400ms, 400ms;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.w-inline-block{
    max-width: 100%;
    display: inline-block;
}

.home-section-wrap{
    margin-bottom: 30px;
}

.label{
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f2f2f2;
}

.label.cc-light{
    opacity: 0.6;
    color: #f2f2f2;
}

.seciont-heading{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

h2{
    font-size: 36px;
    line-height: 50px;
}

.paragraphe-light{
    opacity: 0.6;
    color: #f2f2f2;
    font-size: large;
}

p{
    margin-bottom: 10px;
    margin-top: 0;
}




.blog-heading{
    margin-bottom: 60px;
    text-align: center;
}


.collection-list-wrapper{
    margin-bottom: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.collection-wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    align-content: flex-start;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blog-preview-wrap{
    width: 33.33%;
    padding-right: 45px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.business-article-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    text-decoration: none;
}

#mydiv{    
    position:relative;
    overflow:hidden;
    height:520px;
    width:550px;
    border-style: none;
    
}
#myframe{
    position:absolute;
    top:100px;
    left:100px;
    border-style: none;
}